/*With empty field validation*/

label[data-class=select]:after {
    content: attr(data-error);
    color: #F44336;
    top: 85px;
    position: relative;
    opacity: 1;
}

label {
    width: 100%;
}

label:after {
    -moz-transition-property: all !important;
    -o-transition-property: all !important;
    -webkit-transition-property: all !important;
    transition-property: all !important;
    font-size: 0.8rem;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none;
}

label:not(.active):after {
    -moz-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    -o-transform: translateY(-140%);
    -webkit-transform: translateY(-140%);
    transform: translateY(-140%);
}


/*Hide the input number button    */

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


/*------------------------------------*/


/*Old Votacao styles*/

.modal-table {
    width: 80% !important;
    height: 85% !important;
    max-height: 90% !important;
/*    overflow-y: hidden !important;*/
}


/* increase the width, height and prevent vertical scroll! However, i don't recommend this, its better to turn on vertical scrolling. */

.modalfoto {
    width: 50% !important;
    max-height: 100% !important;
    overflow-y: hidden !important;
}

.upload-btn {
    position: absolute !important;
    right: 38% !important;
    top: 210px !important;
}

.img-preview {
    width: 200px !important;
}


/*------------------------------------------*/

.modal-edit {
    width: 50% !important;
    height: 60% !important;
    /*            overflow-y: hidden !important;*/
    max-height: 95%;
    /*            max-width: 95%;*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.modal-vehicle {
    width: 30% !important;
}

.card-title {
    line-height: 48px !important;
    font-size: 24px !important;
    font-weight: 300 !important;
}


/*Uset to google loader*/

body {
    background-color: #eee;
}

.showbox {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.loader {
    position: absolute;
    margin-left: -20%;
    margin-top: 30%;
    width: 40px;
}

.loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.circular {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@-webkit-keyframes color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}

@keyframes color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}
