/*With empty field validation*/
label[data-class=select]:after {
  content: attr(data-error);
  color: #F44336;
  top: 85px;
  position: relative;
  opacity: 1;
}

label {
  width: 100%;
}

table.table-veiculo {
  width: 100% !important;
}

label:after {
  -moz-transition-property: all !important;
  -o-transition-property: all !important;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  font-size: 0.8rem;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  -webkit-transform: none;
  transform: none;
}

label:not(.active):after {
  -moz-transform: translateY(-140%);
  -ms-transform: translateY(-140%);
  -o-transform: translateY(-140%);
  -webkit-transform: translateY(-140%);
  transform: translateY(-140%);
}

/*Hide the input number button    */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#table-veiculo tbody tr.selected {
    /* color: white; */
    background-color: #eeeeee;
}


/* increase the width, height and prevent vertical scroll! However, i don't recommend this, its better to turn on vertical scrolling. */
.modalfoto {
  width: 50% !important;
  max-height: 100% !important;
  overflow-y: hidden !important;
}

.upload-btn {
  position: absolute !important;
  right: 38% !important;
  top: 210px !important;
}

.img-preview {
  width: 200px !important;
}

/*------------------------------------------*/
.modal-edit {
  width: 60% !important;
  height: 46% !important;
  /*            overflow-y: hidden !important;*/
  max-height: 95%;
  /*            max-width: 95%;*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.modal-search {
  /* width: 60% !important; */
  height: 81% !important;
  /*            overflow-y: hidden !important;*/
  max-height: 95%;
  /*            max-width: 95%;*/
  left: 0;
  right: 0;
  top: 0;
  /* bottom: 0; */
  margin: auto;
}

.modal-vehicle {
  width: 30% !important;
}

.card-title {
  line-height: 48px !important;
  font-size: 24px !important;
  font-weight: 300 !important;
}

.img-login {
  width: 70%;
}
