<!-- Dropdown Structure -->
<ul id="drop-veiculo" class="dropdown-content">
  <li><a href="../veiculo/create.html">Cadastrar</a></li>
  <li><a href="../veiculo/search.html">Pesquisar</a></li>
</ul>
<ul id="drop-os" class="dropdown-content">
  <li><a href="../os/create.html">Cadastrar</a></li>
  <li><a href="../os/search.html">Pesquisar</a></li>
</ul>
<ul id="drop-usuario" class="dropdown-content">
  <li><a href="../usuario/password.html">Trocar senha</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo"><img src="../../img/brasao_branco.png" alt=""></a>
    <ul class="right hide-on-med-and-down">

      <!-- Dropdown Trigger -->
			<li><a class="dropdown-trigger" href="#!" data-target="drop-veiculo">Veículo<i class="material-icons right">arrow_drop_down</i></a></li>
			<li><a class="dropdown-trigger" href="#!" data-target="drop-os">Ordem de Serviço<i class="material-icons right">arrow_drop_down</i></a></li>
			<li><a class="dropdown-trigger" href="#!" data-target="drop-usuario">Usuário<i class="material-icons right">arrow_drop_down</i></a></li>
		</ul>
  </div>
</nav>
